<ng-container *transloco="let t">
  <app-page-wrapper [flowType]="flowType" [headerSize]="headerSize">
    <div>
      <div class="row">
        <div class="col-md-12 title">
          <div>
            <h4>
              <strong> {{ t("verifyIdPage.title") }} </strong>
            </h4>
          </div>
        </div>
      </div>
      <div class="row content-wrapper">
        <form form2keyb [formGroup]="form" (ngSubmit)="verifyId()">
          <div class="content">
            <input
              class="oval-input big"
              to-keyb="dg"
              type="string"
              formControlName="passport"
              [ngClass]="getClasses('passport')"
              [textMask]="{ mask: maskPassportNum }"
              placeholder="000000000"
            />
            <and-err-input-panel name="passport" [f]="f"></and-err-input-panel>
            <button class="btn btn-outline-info big bottom-btn" type="submit">
              {{ t("verifyIdPage.continueButton") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </app-page-wrapper>
</ng-container>
