<div class="card col-12" [style.direction]="flds.direction">
  <div class="col-md-12 header">
    <img class="logo" src="assets/bikebox logo.svg" alt="BikeBox" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 title">
        <div>
          <h4>
            <strong> {{ flds.title }}</strong>
          </h4>
        </div>
        <div>
          <h6 style="color: blue">
            <strong>{{ flds.title2 }}</strong>
          </h6>
        </div>
      </div>
    </div>

    <form form2keyb [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="register-form">
        <div class="row">
          <div class="col-3 no-gutters">
            <div class="input-group">
              <span id="id-label-firstName">
                <strong class="control-label">{{
                  flds.firstName.label
                }}</strong></span
              >
              <input
                to-keyb
                type="text"
                formControlName="firstName"
                class="form-control"
                [ngClass]="getClasses('firstName')"
                [placeholder]="flds.firstName.placeholder"
                aria-describedby="id-label-firstName"
              />
              <and-err-input-panel
                name="firstName"
                [f]="f"
              ></and-err-input-panel>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <span id="id-label-lastName">
                <strong class="control-label">{{
                  flds.lastName.label
                }}</strong></span
              >
              <input
                to-keyb
                type="text"
                formControlName="lastName"
                class="form-control"
                [ngClass]="getClasses('lastName')"
                [placeholder]="flds.lastName.placeholder"
                aria-describedby="id-label-lastName"
              />
              <and-err-input-panel
                name="lastName"
                [f]="f"
              ></and-err-input-panel>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <span id="id-label-passport">
                <strong class="control-label">{{
                  flds.passport.label
                }}</strong></span
              >
              <input
                to-keyb="dg"
                type="string"
                formControlName="passport"
                class="form-control"
                [ngClass]="getClasses('passport')"
                [placeholder]="flds.passport.placeholder"
                aria-describedby="id-label-passport"
              />
              <and-err-input-panel
                name="passport"
                [f]="f"
              ></and-err-input-panel>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <span id="id-label-phone">
                <strong class="control-label">{{
                  flds.phone.label
                }}</strong></span
              >
              <input
                to-keyb="dg"
                type="number"
                formControlName="phone"
                class="form-control"
                [ngClass]="getClasses('phone')"
                [placeholder]="flds.phone.placeholder"
                aria-describedby="id-label-phone"
              />
              <and-err-input-panel name="phone" [f]="f"></and-err-input-panel>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <span id="id-label-email">
                <strong class="control-label">{{
                  flds.email.label
                }}</strong></span
              >
              <input
                to-keyb="en"
                type="email"
                formControlName="email"
                class="form-control"
                [ngClass]="getClasses('email')"
                [placeholder]="flds.email.placeholder"
                aria-describedby="id-label-email"
              />
              <and-err-input-panel name="email" [f]="f"></and-err-input-panel>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <span id="id-label-address">
                <strong class="control-label">{{
                  flds.address.label
                }}</strong></span
              >
              <input
                to-keyb
                type="text"
                formControlName="address"
                class="form-control"
                [ngClass]="getClasses('address')"
                [placeholder]="flds.address.placeholder"
                aria-describedby="id-label-address"
              />
              <and-err-input-panel name="address" [f]="f"></and-err-input-panel>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group">
              <span id="id-label-ravkav">
                <strong>{{ flds.ravkav.label }}</strong></span
              >
              <input
                to-keyb
                type="text"
                formControlName="ravkav"
                class="form-control"
                [ngClass]="getClasses('ravkav')"
                [placeholder]="flds.ravkav.placeholder"
                aria-describedby="id-label-ravkav"
              />
              <and-err-input-panel name="ravkav" [f]="f"> </and-err-input-panel>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3"></div>
          <!--------IAMAGREE POLICY---------->
          <div class="col-3 terms right-terms">
            <div class="terms-toggle">
              <span class="toggle-label"
                >{{ flds.iamagree.label }}
                <a class="link" href="http://google.com" target="_blank">
                  {{ flds.pay.policy.text }}
                </a>
              </span>
              <div class="checkbox-wrapper">
                <label class="switch-checkbox">
                  <input
                    type="checkbox"
                    name="imagreePolicy"
                    formControlName="imagreePolicy"
                    (change)="OnSliderChange($event, 'imagreePolicy')"
                  />
                  <span class="slider-checkbox round-checkbox"></span>
                </label>
              </div>
            </div>
            <and-err-input-panel name="imagreePolicy" [f]="f">
            </and-err-input-panel>
          </div>
          <!--------IAMAGREE TERMS---------->
          <div class="col-3 terms left-terms">
            <div class="terms-toggle">
              <span class="toggle-label"
                >{{ flds.iamagree.label }}
                <a class="link" href="http://google.com" target="_blank">
                  {{ flds.pay.terms.text }}
                </a>
              </span>
              <div class="checkbox-wrapper">
                <label class="switch-checkbox">
                  <input
                    type="checkbox"
                    name="imagreeTerms"
                    formControlName="imagreeTerms"
                    (change)="OnSliderChange($event, 'imagreeTerms')"
                  />
                  <span class="slider-checkbox round-checkbox"></span>
                </label>
              </div>
            </div>
            <and-err-input-panel name="imagreeTerms" [f]="f">
            </and-err-input-panel>
          </div>
          <div class="col-3"></div>
        </div>

        <!-- <button [disabled]="valid" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Registrate
              </button> -->

        <ng-container *ngIf="valid">
          <button class="btn btn-primary" type="submit">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            Accept and set pay source
          </button>
        </ng-container>

        <!-- <ng-container *ngIf="env.toTestUsers">
                  <button class="btn btn-primary" type="button" (click)="getAviKohen()">
                      Avi Kohen
                  </button>
              </ng-container>
  
              <ng-container *ngIf="env.toTestUsers">
                  <button class="btn btn-primary" type="button" (click)="getRandomUser()">
                      Avi Kohen
                  </button>
              </ng-container> -->

        <!-- <ng-container *ngIf="env.toTestUsers">
                  <button class="btn btn-primary" type="button" (click)="getRandomUser()">
                      Reandom User
                  </button>
              </ng-container>
           -->

        <!-- <a routerLink="../login" class="btn btn-link">Cancel</a> -->
        <button class="btn btn-outline-info continue-button" type="submit">
          {{ flds.continueButton }}
        </button>
      </div>
    </form>
  </div>

  <div class="card-body"></div>
</div>
