<ng-container *transloco="let t">
  <app-page-wrapper [flowType]="flowType" [headerSize]="headerSize">
    <div>
      <div class="row">
        <div class="col-md-12 title">
          <div>
            <h4>
              <strong>
                {{
                  this.flowType === FlowType.register
                    ? t("successPage.registerMessage")
                    : t("successPage.paymentMethodMessage")
                }}</strong
              >
            </h4>
          </div>
        </div>
      </div>
    </div>
  </app-page-wrapper>
</ng-container>
