.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wellcome-message {
  padding-bottom: 1em;
}

.update-payment-method {
  padding-top: 1.38em;
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
}
