<ng-container *transloco="let t">
  <app-page-wrapper [flowType]="flowType" [headerSize]="headerSize">
    <div>
      <div class="row">
        <div class="col-md-12 title">
          <div>
            <h4>
              <strong> {{ t("smsCodePage.title") }} </strong>
            </h4>
          </div>
        </div>
      </div>
      <div class="row content-wrapper">
        <form form2keyb [formGroup]="form" (ngSubmit)="verifyBySms()">
          <div class="content">
            <input
              autocomplete="off"
              class="oval-input big"
              to-keyb="dg"
              type="text"
              [ngClass]="getClasses('pass')"
              formControlName="pass"
              [textMask]="{ mask: maskSmsCode }"
              placeholder="000000"
            />
            <and-err-input-panel name="pass" [f]="f"></and-err-input-panel>
            <button class="btn btn-outline-info big bottom-btn" type="submit">
              {{ t("smsCodePage.continueButton") }}
            </button>
            <app-api-error-message [statusCode]="apiStatusCode"></app-api-error-message>
          </div>
        </form>
      </div>
    </div>
  </app-page-wrapper>
</ng-container>
